/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');

button {
  cursor: pointer;
  color: #fff;
  width: 91px;
  height: 40px;
  border: 1px solid #4e75ff;
  background-color: #4e75ff;
  border-radius: 8px;
  padding: 8px 16px;
  font-size: 16px;
}

button:hover {
  background: #6c8cff;
}

input {
  width: 272px;
  height: 40px;
  padding: 8px 10px;
  border: 1px solid #bfc3c8;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
  margin-top: 20px;
}
